<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Supports log files created from FileMaker.</string>
	<key>contactName</key>
	<string>Donovan Chandler</string>
	<key>contactEmailRot13</key>
	<string>donovan_c@beezwax.net</string>
	<key>name</key>
	<string>FileMaker Log</string>
	<key>ordering</key>
	<array>
		<string>3A91AF59-D0E8-439B-83B0-97228290EC32</string>
		<string>EDA3F372-A906-4329-8F31-3B83281FF553</string>
	</array>
	<key>uuid</key>
	<string>AC1BDCD9-0685-4181-B3D2-0AFE7BC1F061</string>
</dict>
</plist>
